@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ghrathe';
  src: url('/src/assets/font/Ghrathe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
